html {
	scroll-behavior: smooth;
}


body {
	overflow-x: hidden;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: bisque;
}

header {
	background-color: bisque;
	color: bisque;
	height: -100px;
}

header img {
	max-width: 1250px;
	margin: 0 auto;
	clear: both;
	float: left;
	margin-left: 3%;
	padding-left: 2%;
}

nav ul {
	overflow: hidden ;
	list-style: none;
	margin: 3.5vh 4vw;
	margin-right: 9px;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;

	
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display: block;
	color: #050505;
	text-decoration: none;
	font-size: 25px;
	padding: 4px;
	border-radius: 3px;
}

nav {
	float: right;
	background: orange;
	border: 0px;
	border-bottom-left-radius: 8.6px;
	height: 87px;	
	padding-left: 20px;
}

a.active,a:hover {
	background: bisque;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 925px){
	nav a{
		font-size: 16px;
	}
}

@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	
	nav ul {
		position:absolute;
		width: 100%;
		height: 100vh;
		top: 50px;
		left: 50px;
		text-align: center;
		transition: all .5s;
	}

	nav li {
		display: block;

	}

	nav a {

		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin-right: -380px;
		padding-top: 14px;
		text-align: center;
		font-size: 20.5px;
		color:white;
		display: block;
        text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
		
	}

	nav a:hover,a.active {
		background: none;
		color: blue;
	}

	nav a.contact {
		margin-left: -18px;
	}

	#check:checked ~ ul {
		left: 30vh;
		
	}

}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 50px;
	clear: both;
	color: #38761d;
}

.container h1 {
	font-size: 225%;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container img {
	float: right;
	width: 73%;
	height: auto;
	margin-top: -569.6px;
    margin-right: -22%;
}

.container p {
	font-size: 115%;
	font-weight: 545;
	font-family: Helvetica;
	
}

.container button {
	width: 9rem;
	background-color: green;
	border: 0px;
	border-radius: 10px;
}

.container button a {
	text-decoration: none;
	color: white;
}

.container ul {
	list-style: none;
	display: inline;
	padding: 0;
}

.container li {
	display: inline-block;
	margin-right: 16px;
}

.container a {
	text-decoration: none;
	color: #050505;
}

.sub-container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 50px;
	clear: both;
	color: #38761d;
}

.sub-container img {
	width: 40%;
	margin-top: -40px;
}

.sub-container h2 {
	float: right;
	font-size: 155%;
	margin-top: -10px;
	margin-right: 4%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
.sub-container h2 b {
	font-size: 16px;
	font-weight: 640;
}

.middle {
	display: flex;
	background-image: url(./images/green\ banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.middle img {
	width: 9%;
	margin-left: 10%;
	padding-top: 1%;
	margin-bottom: 2%;
}

.middle h1 {
	margin-left: 1%;
	margin-top: 4.5%;
	padding-bottom: 2%;
    font-size: 120%;
	color: white;
}

.filter-white {
	filter: invert(100%) sepia(0%) saturate(2524%) hue-rotate(226deg) brightness(121%) contrast(101%);
}

.sub-middle {
	max-width: 1250px;
	margin: 0 auto;
	padding: 50px;
	clear: both;
	color: #38761d;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sub-middle hr {
	float: left;
	width: 120px;

}

.sub-middle h4 {
	font-size: 105%;
	color: 	#353839;
}

.bg-img {
	background-image: url(./images/green\ banner.jpg);
	margin-top: 30%;
	margin-bottom: 1%;
	background-repeat: repeat;
	background-size: 100%;
	
}


.bg-img h1 {
	max-width: 1100px;
	margin-left: 13%;
	padding-bottom: 30px;
	padding-top: 30px;
	color: white;
	font-size: 225%;
}


.bg-img button{
	border: 0px;
	border-radius: 10px;
    float: right;
	margin-right: 13%;
	margin-top: -120px;
	width: 9rem;
	background-color: orange;
	padding-left: 5px;
	padding-right: 5px;

}

.bg-img a {
	text-decoration: none;
	color: white;

}

.about {
	max-width: 1250px;
	margin: 0 auto;
	padding: 80px;
	clear: both;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about h1 {
	color: #38761d;
}

.about p {
	font-size: 110%;
	font-style: bold;
	font-weight: 500;
}

.donate {
	max-width: 1250px;
	margin: 0 auto;
	padding: 80px;
	clear: both;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #38761d;
}

.donateItems {
	border: 0px;
	float: right;
	text-align: center;
	width: 9rem;
	margin-right: 40%;
}

.donatefile {
	background-color: white;
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.donatename {
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	
}

.donategender {
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}


form input {
	padding-right: 180px;
}

select {
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	padding-right: 185px;
}

textarea {
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 3px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	padding-right: 100px;
}

.donatesubmit {
	width: 12rem;
	background-color: green;
	border: 0px;
	margin-top: 13px;
	border-radius: 10px;

}

.donatesubmit a {
	text-decoration: none;
	color: white;
}

label b {
	color: black;
}


.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40rem;
	border-radius: 5px;
	background-color: white;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-container img {
	border-radius: 5px 5px 0 0;
	width: 800px;

}
  
.card-container {
	padding: 2px 16px;
  }