body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: bisque;
}

header {
	background-color: #ffffff;
	color: #fff;
}

nav ul {
	list-style: none;
	margin: 5vh 4vw;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #050505;
	text-decoration: none;
}

nav {
	float: right;
}

.campaign-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 50px;
	clear: both;
}

.container img {
	float: right;
	width: 35vw;
	height: auto;
	padding-left: 200px;
    margin-right: -50px;
}

.bg-img {
	background-image: url(https://t4.ftcdn.net/jpg/02/28/92/23/360_F_228922358_V7pawRfc0ryB6rtkLBSI2782CyAZi2s4.jpg);
	margin-top: 20%;
	margin-bottom: 10%;
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
	height: 50%;
	width: 100%;
}


.bg-img h1 {
	max-width: 1100px;
	padding: 9%;
	margin-left: 5%;
	
}

.bg-img button{
    float: right;
	margin-right: -70px;
	width: 10rem;
}

.bg {
background: orange;
}