body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #ffffff;
	color: #fff;
}

nav ul {
	list-style: none;
	margin: 5vh 4vw;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #050505;
	text-decoration: none;
}

nav {
	float: right;
}

.campaign-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 50px;
	clear: both;
}



